// 基本設定
body {
    background: #eee;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.cover-fit {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
// header
header {
    height: 100px;
    background: #0f3057;

    .welcome {
        height: 100px;
        color: white;
        font-size: 30px;
        justify-content: center;
        align-items: center;
    }
}

// 作品頁面
nav {
    background: #f2f2f2;

    .portfolios {
        padding: 75px 0 0 10px;
    }

    .worksbox {
        margin-top: 55px;
        font-size: 18px;
        width: 30%;
        height: 30vh;

        figure {
            width: 100%;
            height: 100%;

            a {
                text-decoration: none;
                color: black;

                img {
                    border-radius: 5px;
                }

                figcaption {
                    margin-top: 40px;
                    text-align: center;
                    display: flex;
                    word-break: break-all;
                    color: #707070;
                }
            }
        }
    }
}

// 向下滾動圖示
.scrolldownbox {
    width: 150px;
    height: 70px;
    // background: chocolate;
    margin-top: 200px;

    .scrolldown{
        display: flex;
        justify-content: center;
        color: #707070;
        
    }

    i{
        width: 150px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 30px;
        color: #707070;
    }
}

main {
    // 個人頁面
    .introbox {
        margin: 110px auto 200px auto;

        .personal {
            padding: 0 0 55px 10px;
        }

        .introimg {
            width: 25%;
            height: 35vh;
            img{
                border-radius: 5px;
            }
        }

        .introbrief {
            width: 60%;
            height: 35vh;
            border: 1px solid;
            font-size: 16px;
        }
    }

    // 作業頁面
    .homeworkbox {
        background: #f2f2f2;
        margin-bottom: 200px;

        .homework {
            padding: 85px 0 55px 10px;
        }

        .homeworktry {
            color: red;
            font-size: 24px;
            // display: flex;
            border: 1px solid;
            width: 25%;
            height: 35vh;

            a {
                text-decoration: none;
                color: black;
            }

            figure {
                width: 100%;
                height: 100%;
            }

            figcaption {
                border: 1px solid;
                text-align: center;
                display: flex;
                word-break: break-all;
            }
        }
    }
}

footer {
    height: 100px;
    background: #0f3057;

    .contact {
        width: 100px;
        line-height: 100px;
        border: 1px white;
        color: white;
    }
}

// footerX聯絡
