// 基本設定
body{
    background: #eee;
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.cover-fit{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


// 頁面
nav {
    justify-content: space-around;
    background: #F2F2F2;
    
    
    .worksbox{
        margin-top: 150px;
        color: red;
        font-size: 30px;
        // display: flex;
        border: 1px solid;
        width: 25%;
        height: 35vh;

        a{
            text-decoration: none;
            color:black;
        }

    
        figure{
            width: 100%;
            height: 100%;
        }
        figcaption{
          
       
            border: 1px solid;
            text-align: center;
            display: flex;
            word-break: break-all;
            
        }
    }


  
}



.scrolldown{
    width: 50px;
    height: 50px;
    background: chocolate;
    margin-top: 250px;
}

