body {
  background: #eee;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.cover-fit {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header, footer {
  height: 100px;
  background: #0f3057;
}

header .welcome, footer .welcome {
  height: 100px;
  color: white;
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  background: #f2f2f2;
}

nav .portfolios {
  padding: 85px 0 0 10px;
  font-weight: bold;
}

nav .worksbox {
  margin-top: 55px;
  font-size: 18px;
  width: 30%;
  height: 30vh;
}

nav .worksbox figure {
  width: 100%;
  height: 100%;
  position: relative;
}

nav .worksbox figure a {
  text-decoration: none;
  color: black;
}

nav .worksbox figure a img {
  border-radius: 5px;
}

nav .worksbox figure a img:hover {
  overflow: hidden;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 1.0s;
  transition: -webkit-transform 1.0s;
  transition: transform 1.0s;
  transition: transform 1.0s, -webkit-transform 1.0s;
}

nav .worksbox figure a .realimg {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 1.0s;
  transition: 1.0s;
}

nav .worksbox figure a figcaption {
  margin-top: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-break: break-all;
  color: #707070;
}

.scrolldownbox {
  width: 150px;
  height: 70px;
  margin-top: 185px;
}

.scrolldownbox .scrolldown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #707070;
}

.scrolldownbox .arrow {
  -webkit-animation: arrow-down 2.5s linear infinite;
          animation: arrow-down 2.5s linear infinite;
}

@-webkit-keyframes arrow-down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes arrow-down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.scrolldownbox .arrow i {
  width: 150px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 30px;
  color: #707070;
}

main .introbox {
  margin: 200px auto 220px auto;
}

main .introbox .personal {
  padding: 0 0 55px 10px;
  font-weight: bold;
}

main .introbox .introimg {
  width: 25%;
  height: 35vh;
}

main .introbox .introimg img {
  border-radius: 5px;
}

main .introbox .introbriefbox {
  width: 60%;
  height: 35vh;
  color: #707070;
  font-size: 18px;
}

main .introbox .introbriefbox .contactpp {
  padding-top: 25px;
}

main .introbox .introbriefbox .contact i {
  margin: 0 20px 0 0;
}

main .introbox .introbriefbox .contact .github {
  text-decoration: none;
  color: #707070;
}

main .introbox .introbriefbox .contact .cakeresume img {
  padding-bottom: 2px;
  width: 18px;
  height: 20px;
}

main .homeworkbox {
  background: #f2f2f2;
  margin-bottom: 200px;
}

main .homeworkbox .homework {
  padding: 85px 0 55px 10px;
  font-weight: bold;
}

main .homeworkbox .homeworktry {
  font-size: 18px;
  width: 30%;
  height: 30vh;
}

main .homeworkbox .homeworktry a {
  text-decoration: none;
  color: black;
}

main .homeworkbox .homeworktry figure {
  width: 100%;
  height: 100%;
  position: relative;
}

main .homeworkbox .homeworktry figure img {
  border-radius: 5px;
}

main .homeworkbox .homeworktry figure img:hover {
  overflow: hidden;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 1.0s;
  transition: -webkit-transform 1.0s;
  transition: transform 1.0s;
  transition: transform 1.0s, -webkit-transform 1.0s;
}

main .homeworkbox .homeworktry figure .realimg {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 1.0s;
  transition: 1.0s;
}

main .homeworkbox .homeworktry figure figcaption {
  margin-top: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-break: break-all;
  color: #707070;
}

footer {
  height: 100px;
  background: #0f3057;
}

footer .contact {
  width: 100px;
  line-height: 100px;
  border: 1px white;
  color: white;
}
/*# sourceMappingURL=index.css.map */